<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Публікація</title>
    <th:block th:replace="~{fragments/layout :: styles}"></th:block>
</head>
<body>

<nav th:replace="~{fragments/layout :: header(true, '/publications')}"></nav>

<main class="container page-container">

<h2 th:text="${publicationForm.id == null} ? '➕ Додати публікацію' : '✏ Редагувати публікацію'"></h2>

<div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

<form th:action="@{/publications}" th:object="${publicationForm}" method="post">

<!--    <input type="hidden" th:field="*{id}"/>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Назва</label>-->
<!--        <textarea class="form-control" th:field="*{title}" required></textarea>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Рік</label>-->
<!--        <input type="number" class="form-control" th:field="*{year}" required/>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Вихідні відомості</label>-->
<!--        <textarea class="form-control" th:field="*{publicationDetails}" rows="3"></textarea>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Кількість сторінок</label>-->
<!--        <input type="text" class="form-control" th:field="*{pages}">-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Кафедра</label>-->
<!--        <input type="text" class="form-control" th:field="*{department}" required/>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Видавництво</label>-->
<!--        <input type="text" class="form-control" th:field="*{publisher}"/>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">URL</label>-->
<!--        <input type="text" class="form-control" th:field="*{url}"/>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Джерело</label>-->
<!--        <select class="form-select" th:field="*{source}">-->
<!--            <option th:value="MANUAL">MANUAL</option>-->
<!--            <option th:value="REPOSITORY">REPOSITORY</option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Автори</label>-->
<!--        <textarea class="form-control"-->
<!--                  th:field="*{authorsInput}"-->
<!--                  rows="5"-->
<!--                  placeholder="Вводьте по одному автору в кожному рядку, наприклад:&#10;Петренко Іван&#10;Сидоренко Марія"></textarea>-->
<!--        <div class="form-text">-->
<!--            Кожен автор вводиться з нового рядка.-->
<!--        </div>-->
<!--    </div>-->




    <input type="hidden" th:field="*{id}"/>

    <div class="mb-3">
        <label class="form-label">Назва</label>
        <textarea class="form-control"
                  th:field="*{title}"
                  th:classappend="${#fields.hasErrors('title')} ? ' is-invalid' : ''"
                  rows="3"></textarea>

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Рік</label>
        <input type="number"
               class="form-control"
               th:field="*{year}"
               th:classappend="${#fields.hasErrors('year')} ? ' is-invalid' : ''">

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('year')}"
             th:errors="*{year}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Кафедра</label>
        <input type="text"
               class="form-control"
               th:field="*{department}"
               th:classappend="${#fields.hasErrors('department')} ? ' is-invalid' : ''">

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('department')}"
             th:errors="*{department}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Видавець</label>
        <input type="text"
               class="form-control"
               th:field="*{publisher}"
               th:classappend="${#fields.hasErrors('publisher')} ? ' is-invalid' : ''">

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('publisher')}"
             th:errors="*{publisher}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Посилання</label>
        <input type="text"
               class="form-control"
               th:field="*{url}"
               th:classappend="${#fields.hasErrors('url')} ? ' is-invalid' : ''">

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('url')}"
             th:errors="*{url}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Джерело</label>
        <select class="form-select"
                th:field="*{source}"
                th:classappend="${#fields.hasErrors('source')} ? ' is-invalid' : ''">
            <option value="">Оберіть джерело</option>
            <option th:each="sourceValue : ${sources}"
                    th:value="${sourceValue}"
                    th:text="${sourceValue}">
            </option>
        </select>

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('source')}"
             th:errors="*{source}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Кількість сторінок</label>
        <input type="number"
               min="1"
               class="form-control"
               th:field="*{pages}"
               th:classappend="${#fields.hasErrors('pages')} ? ' is-invalid' : ''">

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('pages')}"
             th:errors="*{pages}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Вихідні відомості</label>
        <textarea class="form-control"
                  th:field="*{publicationDetails}"
                  rows="3"
                  th:classappend="${#fields.hasErrors('publicationDetails')} ? ' is-invalid' : ''"></textarea>

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('publicationDetails')}"
             th:errors="*{publicationDetails}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Бібліографічний опис</label>
        <textarea class="form-control"
                  th:field="*{bibliographicDescription}"
                  rows="4"
                  th:classappend="${#fields.hasErrors('bibliographicDescription')} ? ' is-invalid' : ''"></textarea>

        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('bibliographicDescription')}"
             th:errors="*{bibliographicDescription}">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Автори</label>
        <textarea class="form-control"
                  th:field="*{authorsInput}"
                  rows="5"
                  placeholder="Кожен автор з нового рядка"></textarea>
    </div>

    <button type="submit" class="btn btn-success">
        Зберегти
    </button>

<!--    -->
<!--    <button type="submit" class="btn btn-success">💾 Зберегти</button>-->
</form>

</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>

<script src="/js/language.js"></script>
</body>
</html>
